
// ------------- VARIABLES ----------------------

//  Font Variables
//  -------------->
 

   $primary-font: 'Montserrat', sans-serif;
   $secondary-font: 'Playfair Display', serif;
 


//  Color Variables
//  ---------------> 

   $white           :#fff;
   $red           :#ff0650;
   $pink          :#f037a5;
   $green         :#00BA5F;
   $light-green   :#19e68c;
   $gold          :#ffce80;
   $dead-black    :#434248;
   $light         :#4e75f8;
   $blue          :#4e75f8;

//  Section Padding
//  --------------->

   $section-padding  :115px 0;
