@font-face {
	font-family: "glitch";
	src: url("/resources/fonts/BwModelicaSS02-Regular.woff") format('woff');
	src: url("/resources/fonts/BwModelicaSS02-Regular.woff2") format('woff2');
}

@font-face {
	font-family: "glitch-italic";
	src: url("/resources/fonts/BwModelicaSS02-RegularItalic.woff") format('woff');
	src: url("/resources/fonts/BwModelicaSS02-RegularItalic.woff2") format('woff2');
}

@font-face {
	font-family: "glitch-bold";
	src: url("/resources/fonts/BwModelicaSS02-ExtraBold.woff") format('woff');
	src: url("/resources/fonts/BwModelicaSS02-ExtraBold.woff2") format('woff2');
}

*,
*:after,
*::before {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #0F0639;
	color: #fff;
	font-family: "glitch", sans-serif;
}

.splash {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

.main-header {
	font-size: 4.74rem;
	font-weight: 700;
	font-family: "glitch", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.back-link {
	font-family: 'IBM Plex Sans', 'IBM Plex Sans Condensed', 'Lato', sans-serif;
	position: absolute;
	color: #fff;
	top: 0;
	right: 0;
	margin: 25px;
	padding: 5px;
	z-index: 6;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

a.light-link {
	background: linear-gradient(to bottom, #BF0222 0%, #BF0222 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover.light-link {
	color: #fff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23bf0222' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 6px;
	background-repeat: repeat-x;
	text-decoration: none;
}

a:visited.light-link {
	background: linear-gradient(to bottom, #4d0099 0%, #4d0099 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	transition: all ease-in-out 0.5s;
}

a:visited:hover.light-link {
	color: #fff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234d0099' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 6px;
	background-repeat: repeat-x;
	text-decoration: none;
}

.toggle-btn {
	text-transform: uppercase;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 25px;
	padding: 5px;
	cursor: pointer;
}