@font-face {
	font-family: "myfont";
	src: url("/resources/fonts/BwModelicaSS02-Regular.woff") format('woff');
}

*,
*:after,
*::before {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #0F0639;
	color: #fff;
}