*,
*:after,
*::before {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.popup,
.pusher,
.inner {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #BF0222;
	color: #fff;
}

.main-header {
  font-size: 5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inner {
	background: #2D4B9B;
}

.pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	width: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.55);
}

.pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu-open .pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu {
	font-family: 'IBM Plex Sans Condensed', 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #BF0222;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu-open .menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

.scale-rotate.popup {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.scale-rotate.menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.scale-rotate.menu-open .scale-rotate.menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.scale-rotate.menu::after {
	display: none;
}

@media (min-width: 630px) {
	.scale-rotate .pusher {
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.scale-rotate.menu-open .pusher {
		-webkit-transform: translate3d(250px, 0, -500px) rotateY(-50deg);
		transform: translate3d(250px, 0, -500px) rotateY(-50deg);
	}
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
	padding-left: 300px;
}

button {
	z-index: 1000000;
}
