*,
*:after,
*::before {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.popup,
.pusher,
.inner {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #BF0222;
	color: #fff;
}

.main-header {
	font-size: 5rem;
	font-weight: 700;
	font-family: 'IBM Plex Sans', sans-serif;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-header .thin {
	font-weight: 200;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inner {
	background: #2D4B9B;
}

.inner-what-is-tsa {
	background: #8DCEE4;
}

.inner-our-members {
	background: #E20068;
}

.inner-stem {
	background: #F5D300;
}

.inner-gallery {
	background: #000;
}

.pusher {
	position: relative;
	left: 0;
	z-index: 3;
	height: 100%;
	width: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.55);
}

.pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, 0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu-open .pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

ul {
	list-style-type: none;
}

.menu {
	font-family: 'IBM Plex Sans Condensed', 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	visibility: hidden;
	height: 100%;
	background: #BF0222;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu-open .menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	font-weight: 400;
	-webkit-transition: all 1.3s;
	transition: all 1.3s;
}

/* .menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
} */

.menu ul li a:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	color: #fff;
}

.scale-rotate.popup {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.scale-rotate.menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.scale-rotate.menu-open .scale-rotate.menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.scale-rotate.menu::after {
	display: none;
}

@media (max-width: 630px) {
	.menu {
		width: 300px;
		padding-top: 95px;
	}
}

@media (min-width: 630px) {
	.scale-rotate .pusher {
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.scale-rotate.menu-open .pusher {
		-webkit-transform: translate3d(250px, 0, -500px) rotateY(-50deg);
		transform: translate3d(250px, 0, -500px) rotateY(-50deg);
	}

	.menu {
		font-size: 2rem;
		padding-left: 7%;
		transform: translate(-50%, -50%);
		min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
	}

	.menu ul li a {
		box-shadow: none;
		padding: 0.5em 0.5em 0.5em 0.6em;
	}

	.menu ul:hover li:hover a:hover {
		box-shadow: none;
		-moz-text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		-moz-text-stroke-color: #fff;
		-webkit-text-stroke-color: #fff;
		-moz-text-stroke-width: 1px;
		-webkit-text-stroke-width: 1px;
	}

	.menu ul li a:hover {
		background: rgba(0, 0, 0, 0);
		box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
		color: #fff;
	}
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
	padding-left: 300px;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: absolute;
  margin: 25px;
	z-index: 5;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 15px;
}

#nav-icon span:nth-child(3) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
