/* ==========================================================================
   7. TESTIMONIAL
   ========================================================================== */

.testimonial {
    background: url(../images/background-bg-03.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
}

.testimonial-title {
    color: #0048ff;
    font-size: 50px!important;
    text-align: center;
    display: block;
    padding: 10px 0 0 0;
    font-weight: 700;
    border: none;
    font-family: $secondary-font;
    line-height: 1.6;
}

.flaticon-quote::before {
    text-align: center;
    font-size: 90px;
    display: block;
    color: rgba(0, 72, 255, 0.59);
    @media (max-width: 767px) {
        font-size: 60px;
    }
}

.testimonial-space {
    padding: 200px 0;
}

.testimonial-slider {
    height: 280px;
    @media (max-width: 767px) {
        height: auto;
    }
}

.testimonial-slider .slick-dots li button:before {
    color: rgba(0, 72, 255, 0.37) !important;
    opacity: 1;
}

.testimonial-slider .slick-dots li.slick-active button:before {
    color: #0048ff!important;
}

.testimonial-slider {
    .slick-prev {
        display: none!important;
        left: 0;
        width: 0;
        transform: translate(0, 0);
    }
    .slick-next {
        display: none!important;
        right: 0;
        width: 0;
        transform: translate(0, 0);
    }
}
